# Visual Studio / VS Code
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs
bin/
obj/
out/

# .NET publish
publish/

# Logs
*.log

# NuGet packages
*.nupkg
*.snupkg

# Rider / JetBrains
.idea/

# OS files
.DS_Store
Thumbs.db

api.http